export(egame122)
export(egame123)
export(egame12)
S3method(print, game)
export(print.game)
S3method(summary, game)
export(summary.game)
S3method(print, summary.game)
export(print.summary.game)
S3method(predict, game)
export(predict.game)
export(latexTable)
export(makeFormulas)
export(vuong)
export(Mode)
export(predProbs)
S3method(plot, predProbs)
export(plot.predProbs)
S3method(profile, game)
export(profile.game)
S3method(plot, profile.game)
export(plot.profile.game)
export(LW)
export(ultimatum)
import(stringr)
export(predict.egame12)
export(predict.egame122)
export(predict.egame123)
export(predict.ultimatum)
export(clarke)
S3method(logLik, game)
S3method(logLik, summary.game)
S3method(coef, game)
S3method(vcov, game)
S3method(plot, predProbs)
S3method(plot, preplot.predProbs)
S3method(predict, egame12)
S3method(predict, egame122)
S3method(predict, egame123)
S3method(predict, ultimatum)
S3method(print, nonnest.test)
